<div class="container">
  <h2>Créez une nouvelle liste</h2>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-light" %>
    <%# tout envoyer dans les params %>
  <% end %>
  <%= link_to "Retour", lists_path, class: "btn btn-light", id: "margin-top" %>

</div>
