<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= cl_image_path @list.photo.key if @list.photo.present?%>')" >
  <div class="container">
    <h1>Signets - <%= @list.name %> </h1>
      <%= link_to "Ajouter un signet", new_list_bookmark_path(@list), class: "btn btn-secondary", id: "margin-top" %>
      <%= link_to "Retour", lists_path, class: "btn btn-secondary", id: "margin-top" %>
      <%= link_to "Supprimer la liste", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "êtes-vous sûr ?" }, class: "btn btn-secondary", id: "margin-top" %>
  </div>
</div>
<div class="container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product">
      <%= cl_image_tag bookmark.photo.key if bookmark.photo.present? %>
      <div class="card-product-infos">
        <h2> <%= bookmark.movie.title %> </h2>
        <p> <%= bookmark.comment %> </p>
      </div>
      <%= link_to "Supprimer", bookmark_path(bookmark), data: { turbo_method: :delete }, class: "btn btn-light"%>
    </div>
  <% end %>
</div>
