<div class="container">
  <h2>Créez un nouveau signet</h2>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.input :comment %>
      <%# appeler l'id du movie dans la DB %>
      <%# collection pour tous les films %>
      <%= f.input :movie_id, collection: Movie.all %>
        <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-light" %>
      <%# tout envoyer dans les params %>
    <% end %>
    <%= link_to "Retour", list_path(@list), class: "btn btn-light", id: "margin-top" %>
</div>
